*{
    font-family:sans-serif;
    text-decoration: none;
}

body{
    text-align: center;
    font-family:sans-serif;
}

.button{
    text-align: center;
    font-family:sans-serif;
    background-color: #3d50b8;
    border-radius: 4px;
    border: none;
}

.button:hover{
    background-color: #E9EAE0;
    color: black;
    text-decoration: none;
    -webkit-text-stroke-width: 0px;
    border-radius: 10px;
}

.top-nav-bar{
    background-color: #5A6BC8;
    text-align: center;
    padding: 0.4em;
    transition: 0.4s;
    font-size: 1.4em;
    margin-bottom: 1em;
    text-decoration: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    
}

.top-nav-bar ul{
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
    border-radius: 10px;
}

.top-nav-bar li{
    display: inline-block;
    text-decoration: none;
    border-radius: 10px;
}

.top-nav-bar a{
    font-family:sans-serif;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 15px;
    color: #E9EAE0;
}

.top-nav-bar a:visited{
    text-decoration: none;
    color: #E9EAE0;
}

.top-nav-bar a:hover{
    background-color: #E9EAE0;
    color: black;
    text-decoration: none;
    -webkit-text-stroke-width: 0px;
    border-radius: 10px;
}

.top-nav-bar .active{
    background-color: #3d50b8;
    box-shadow: inset 0px 4px #EFCFD4;
    border-radius: 10px;
}

.bodyhome{
    background: linear-gradient(45deg, #FFC7D7, #EFCFD4, #F5DCE0);
    background-size: 400% 400%;
    animation: gradient 8s ease infinite;
    background-attachment:fixed;
    height:100%;
}

.imagemain{
    padding-top: 5%;
    padding-left: 10%;
    max-width: 100%;
}

.homemain{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
    background: none;
    align-items: center;
    justify-content: center;
}

.allmain{
    display: flex;
    align-items: center;
    justify-content: center;
}

.homemain hr{
    border-top: 1.5px solid black;
}

.socialcontainers{
    text-decoration: none;
    text-align: center;
    display: grid;
    align-content: space-evenly;
    grid-template-columns: auto auto auto auto auto auto auto;
}

span{
    font-family:sans-serif;
    display: block;
    font-size: 1.25em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
}

span:before{
    content: "[ ";
    color: black;
}

span:after{
    content: " ]";
    color: black;
}

.starbody{
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 5%;
    background-image: url('rabbit.png');
    align-items: center;
    justify-content: center;
}

.starmain{
    background: rgba(61,80,184,.65);
    border-radius: 10px;
    border-spacing: 10%;
    padding-left: 1%;
    padding-right: 1%;
    border-style:solid;
    border-color: rgba(61,80,184);
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
